/* span {
       display: inline-block;
       width: 1000px;
       height: 1000px;
       margin: 60px;
       background-color: #9eeca7;
     } */

.rounded-circle {
  display: inline-block;
  width: 1000px;
  height: 1000px;
  margin: 60px;
  background-color: #9eeca7;
}

body {
  font-family: 'Baloo Bhai', 'Times New Roman', Times, serif;
}


.centerText {
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
}

.bottomMargin {
  margin-bottom: 3%;
}

.yellowText {
  color: #ffc107;
}