.vl {
    width: 3%;
    display: inline-block;
    margin: 0 8px;
    background-color: lightblue;
}

#array-container {
    position: absolute;
    left: 35%;
    top: 30%;
    min-width: 330px;
    width: 40%;
    height: 40%;
}

.buttonBar {
    position: absolute;
    left: 40%;
    top: 60%;
}

.slowPointer {
    background-color: red !important;
}

.fastPointer{
    background-color: green !important;
}

.n0 {
    height: 10%;
}


.n1 {
    height: 15%;
}

.n2 {
    height: 20%;
}

.n3 {
    height: 25%;
}

.n4 {
    height: 30%;
}

.n5 {
    height: 35%;
}

.n6 {
    height: 40%;
}

.n7 {
    height: 45%;
}

.n8 {
    height: 50%;
}

.n9 {
    height: 55%;
}

.n10 {
    height: 60%;
}

.n0::before {
    content: "0";
}
.n1::before {
    content: "1";
}
.n2::before {
    content: "2";
}
.n3::before {
    content: "3";
}
.n4::before {
    content: "4";
}
.n5::before {
    content: "5";
}
.n6::before {
    content: "6";
}
.n7::before {
    content: "7";
}
.n8::before {
    content: "8";
}

.n9::before {
    content: "9";
}

.n10::before {
    content: "10";
}